.main{
/* margin: ; */
margin: 50px auto;
width: 250px;
border: 1px solid green;
padding: 10px 20px;

}
.result{

width: 95%;
border: 2px solid grey;
color: white;
background-color: rgb(149, 169, 229);
font-size:25px;
/* height: 30%; */
padding: 7% 0px;
outline: none;

}


.clearbutton{
    
width: 97%;
margin-top: 10px;

outline: none;

padding: 5% 0px;
background-image: linear-gradient(to left, rgba(255,0,0,0),sandybrown);
}

.btn{

    margin-top: 10px;
   
    outline: none;
    width: 23%;
    
padding: 5% 0px;
background-image: linear-gradient(to left, rgba(255,0,0,0),sandybrown);
}
.btn50{

    margin-top: 10px;
    outline: none;
    width: 48%;
    
    padding: 5% 0px;

    background-image: linear-gradient(to left, rgba(255,0,0,0),sandybrown);
/* background-color: ; */
}

button:hover{
    background-image: none;
background-color: rgb(93, 180, 180);
}
